[Unit]
Description=a gesture interpreting program for touchscreens 

[Service]
ExecStart=/usr/bin/gester
Restart=always

[Install]
WantedBy=multi-user.target
